
a {
  color: #ffffff;
}
.header{
  margin: 0%;
  padding: 0%;
  background: #7252cb;
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
  width: 100%;
  height: 88px;
}
#box-comment{
  border-radius: 10px;
  border: 1px solid  #7252cb;
  box-shadow: 0 2px  #7252cb;
  width:95%;
  margin: auto;
  margin-top: 7%;
  background: linear-gradient(90deg, #e6e3ff 0%, #d9e7ff 100%);
}
.refresh{
  border-radius: 10px;
  color: black;
  cursor: pointer;
  text-align: center;
  font-family: " EB Garamond";
  font-size: 20px;
  padding: 10px 10px;
  transition-duration: 0.4s; 
  margin: auto;
  width: 80px;
  border-radius: 40% 40%;
  border: 2px solid #c7c7c7;
  background-color: rgb(45 195 102);
}
.log-act{
  width: 22px;
  margin: 1px;
}
.boxPerfil {
  font-size: 115%;
  border-radius: 50%;
  display: flex;
  float: left;
  width: 70%;
  align-items: center;
}
.perfilPhoto{
  width:15%;
  height:15%;
  border-radius:50%;
  margin-left: 0;
  display:flex ;
}
.infoDate {
  display: flex;
  justify-content: end;
  color: #999;
}
.btn-Delete {
  background: #92c7eb0d;
  background-image: url(https://images.emojiterra.com/mozilla/512px/1f5d1.png);
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 15px;
  width: 5px;
  border-radius: 20% 0%;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 20px;
}
.btn-edit{
  background: #92c7eb;
  background-image: url('https://cdn.pixabay.com/photo/2017/06/06/00/33/edit-icon-2375785_960_720.png');
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 15px;
  width: 5px;
  border-radius: 900px;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
#btnModificacion{
  margin-top: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: end;
}
#btn-coment{
  display:flex;
  justify-content: end;
  margin-block-end: auto;
}
.hidden{
  display: none;
}
.show{
  display: block;
}
#deleteCamp{
  display: inline-block;
  padding: 5px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #dd6d6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin: 10px;
  margin-left: 5px;
}
#publish{
  display: inline-block;
  padding: 5px 7px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  margin: 10px;
}
#reset-post{
  display:flex;
  justify-content:left;
}
#nameUserPost{
  font-size: 93%;
  text-align: left;
  color: #5878ca;
}
.nameUser{
  margin: 5%;
}
.abc{
  margin-top: 15px;
  font-size: 17px;
  color:rgb(0, 0, 0);
}
.form{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
 #comment-post{
    border-radius: 8px;
    border: 1px solid #7252cb;
    font-size: 90%;
    padding-top: 8px;
    padding-left: 14px;
    color: #575353;
    outline-color: 0 2px hsl(242deg 88% 66%);
    box-shadow: 0 2px hsl(242deg 88% 66%);
    background-color: hsl(0deg 0% 100%);
    width: 90%;
    height: 80px;
    margin-bottom: 11px;
}
comment-post :empty::before{
  position: absolute;
  content: "Write here...";
}
.publicationPost {
  border: 1px solid #ffffff;
  resize: none;
  width: 100%;
  height: 50%;
  padding: 3% 3% 1%;
  border-radius: 25px 5px 25px 5px;
  font-size: 135%;
  margin: 5px;
}
#post-Publish{
  border: 1px solid #ffffff;
  width:98%;
  height: 90%;
  display: block;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
}
.post-separation{
font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
color: #000000; 
margin: 8px;
background: aliceblue;
overflow: hidden; 
padding: 20px; 
border-radius: 25px 5px 25px 5px;; 
border: 1px solid #7252cb;
display: flex;
align-content: center;
flex-direction: column;
}
@media only screen and (min-width: 768px)  {
    /* for deskotp*/
  .post-separation{
  width: 69%;
  margin-top: 4%;
  margin-left: 15%;
  font-size: 15px;
  }
  #box-comment{
  width: 68%;
  margin-left: 15%;
  font-size: 40px;
  background: linear-gradient(90deg, #e6e3ff 0%, #d9e7ff 100%);
  }
  }
.logo{
  max-height: 150px;
  margin: 0%;
  display:flex;
  justify-content:center;
  align-content:center;
}
.centerTitle{
  display: flex;
  justify-content: center;
}
.titleCuyViajero{
  display: flex;
  justify-content: center;
  float: left;
  height: auto;
  font-size:280%;
  margin-top: 10px;
  text-decoration: none;
  text-shadow:  #70BF5A ; 
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #1d1c1c, 0 -1px #454b4d, -1px 1px 0 #0c0d0e, 1px 1px 0 #59AFCA, 1px 1px #59AFCA, 1px 1px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA, 2px 2px #59AFCA;
}
.header ul {
  margin:0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: flex;
  align-items:center;
  padding: 10px 20px;
  color: #000000;
  font-size: 1.5rem;
  margin-top: 0px;
  font-family: sans-serif;
  text-decoration: none;
}
.buttonNav{
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  background: none;
  border: none;
}
.out{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: -50%;
}
.header .logo {
  display: block;
  position: absolute;
  font-size: 2em;
  text-decoration: none;
  color: #00a4e0;
  height: 88px;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 28px 20px;
  user-select: none;
}
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {  
    padding: 30px 30px;
  }
  .header .menu {
    clear: none;
    justify-content: center;
    max-height: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .menu-icon {
    display: none;
  }
}
.postForm{
border: #2a7983;
border: 8px;
border-radius: 3px;
background-color: #b7e0fb;
margin-bottom: 5px;
}
